#============= device ==============
allow device labeledfs:filesystem associate;

type alterable_block_device, dev_type;
type sfo_alarm_device, dev_type;
